body {
	margin: 0;
}

*{
	font-family: "Baloo", cursive;	
}

h1,h2,h3{
	text-align: center;
	font-family: "Baloo", cursive;
	font-weight: 300;
	background-image: url(../img.png);
	color: #F6EEED;

}

header h1{

	background-image: url(../una.png);
	font-size: 40px;
	text-align: center;
	padding: 20px;
	margin: 0;
}

div{
	background-image: url(../fon.png);
	
}

div p{
	font-family: "Anton" sans-serif;
	color:#666600;
	margin-left: 20px;
	margin-right: 20px;
	text-align : justify;
}

a {
	color: #20B2AA;
}  

li {
	font-family: "Anton" sans-serif;
	color:#666600;
}

li a{
	background-color: #FFF8DC;
	font-family: "Anton" sans-serif;
}

footer a{
	background-color: #FFF8DC;
	margin-left: 20px;
	font-family: "Anton" sans-serif;
}

div a{
	background-color: #FFF8DC;
	font-family: "Anton" sans-serif;
}